<template>
    <v-layout>
        <v-flex>
            <v-container fluid grid-list-md>
                <v-layout row wrap>
                    <v-flex
                        xs12
                        md6
                        lg3
                        v-for="project in projects"
                        :key="project._id"
                    >
                        <project-card
                            v-bind:name="project.projectName"
                            v-bind:id="project._id"
                        >

                        </project-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
    import ProjectCard from "./ProjectCard";
    export default {
        name: "Home",
        components: {ProjectCard},
        data(){
            return {
                projects: []
            }
        },
        mounted(){
            this.getAllProjects();
        },
        methods: {
            getAllProjects(){
                this.$store.dispatch('fetchProjects')
                    .then((resp) => {
                        this.projects = resp;
                    })
                    .catch((err) => {
                        if(err == "Not logged"){
                            this.$router.push('/login');
                        }else{
                            window.console.log(err.data.message);
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
