<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar color="primary">
                        <v-toolbar-title>Connexion</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field v-model="email" prepend-icon="person" name="login" label="Adresse e-mail" type="email"></v-text-field>
                            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Mot de passe" id="password" type="password"></v-text-field>
                        </v-form>
                        <v-alert
                                :value="error_show"
                                type="error"
                                @click="error_show = !error_show"
                        >
                            {{error}}
                        </v-alert>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login">Connexion</v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                email: "",
                password: "",
                error: "",
                error_show: false
            }
        },
        methods: {
            login: function() {
                let email = this.email;
                let password = this.password;
                this.$store.dispatch('login', { email, password })
                    .then(() => this.$router.push('/home'))
                    .catch((err) => {
                        this.error_show = true;
                        this.error = err.response.data.message;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
