<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-toolbar app>
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="headline text-uppercase">
            <span>Scrutor</span>
            <span class="font-weight-light secondary-color"> FRONT V1</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down" v-if="!$store.getters.isLoggedIn">
            <v-btn flat v-for="item in public_items" :key="item.title" :to="item.path">
                <v-icon>{{ item.icon }}</v-icon> {{item.title}}
            </v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-sm-and-down" v-if="$store.getters.isLoggedIn">
            <v-btn flat v-for="item in private_items" :key="item.title" :to="item.path">
                <v-icon>{{ item.icon }}</v-icon> {{item.title}}
            </v-btn>
            <v-btn flat @click="logout()">
                <v-icon>input</v-icon> Logout
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    export default {
        name: "Menu",
        data () {
            return {
                public_items: [
                    { title: "Connexion", icon: "account_circle", path: "/login" },
                    { title: "Inscription", icon: "assignment", path: "/register" }
                ],
                private_items : [
                    { title: "Home", icon: "home", path: "/home" }
                ]
            }
        },
        methods: {
            logout: function() {
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
        },
    }
</script>

<style scoped>

</style>
