<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-card class="mx-auto px-3">
        <v-card-title primary-title>
            <v-icon large left>settings</v-icon>
            <div class="headline">{{ process.processName }}</div>
        </v-card-title>
        <v-text-field
                v-model="process.description"
                label="Description du process"
                prepend-icon="description"
                readonly
        ></v-text-field>
        <v-menu
                ref="menu"
                v-model="menu"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                        v-model="time"
                        label="Horaire d'exécution prévue"
                        prepend-icon="access_time"
                        readonly
                        v-on="on"
                ></v-text-field>
            </template>
        </v-menu>
        <v-card-actions>
            <v-btn flat @click="goTo">Details</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>error_outline</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "ProcessCard",
        props: ['process'],
        methods: {
            goTo: function(){
                this.$router.push(this.$route.path+'/'+this.$props.process._id);
            }
        },
        data() {
            return {
                menu: false
            }
        },
        computed: {
            time() {
                var date = new Date(this.$props.process.expectedTime);
                var time = date.getHours()+":"+date.getMinutes();
                return time;
            }
        }
    }
</script>

<style scoped>

</style>
