<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-layout wrap justify-center>
        <v-spacer></v-spacer>
        <v-flex>
            <v-layout justify-center>
                <v-date-picker
                        v-model="date"
                        :events="functionEvents"
                        :event-color="date => date[9] % 2 ? 'red' : 'yellow'"
                ></v-date-picker>
            </v-layout>
            <v-timeline>
                <v-timeline-item
                        v-for="logReport in logReports"
                        :key="logReport._id"
                        :small="logReport.logType == 'run' ? true : false"
                        :color="logReport.error ? 'error' : 'success'"
                >
                    <template v-slot:opposite>
                        <span>{{logReport.throwDate.substr(11, 12)}}</span>
                    </template>
                    <v-card>
                        <v-card-title class="headline">{{logReport.logType}}</v-card-title>
                        <v-card-text>
                            {{logReport.details}}
                        </v-card-text>
                    </v-card>
                </v-timeline-item>
            </v-timeline>
        </v-flex>
        <v-spacer></v-spacer>
    </v-layout>
</template>

<script>
    export default {
        name: "ProcessDetails",
        data(){
            return {
                logReports: [],
                arrayEvents: null,
                date: new Date().toISOString().substr(0, 10),
                dotColor: {
                    "start": "green",
                    "run": "green",
                    "stop": "red"
                },
                successfullProcesses: [9,10,11,12,13,14,15],
                warnedProcesses: [16,17,18,19,20,21,22],
                failedProcesses: [23,24,25,26,27,28,29]
            }
        },
        mounted(){
            this.getCurrentLogReports()
            window.console.log(this.date);
        },
        methods: {
            getCurrentLogReports(){
                this.$store.dispatch('fetchLogReportsForToday', this.$route.params.processId)
                    .then((resp) => {
                        this.logReports = resp;
                        window.console.log(resp);
                    })
                    .catch((err) => {
                        this.logReports = [];
                        if(err == "Not logged"){
                            this.$router.push('/login');
                        }else{
                            window.console.log(err.data);
                        }
                    })
            },
            getSelectedLogReports(date){
                this.$store.dispatch('fetchLogReportsForADay', [this.$route.params.processId, date])
                    .then((resp) => {
                        this.logReports = resp;
                        window.console.log(resp);
                    })
                    .catch((err) => {
                        this.logReports = [];
                        if(err == "Not logged"){
                            this.$router.push('/login');
                        }else{
                            window.console.log(err.data);
                        }
                    })
            },
            functionEvents (date) {
                const [,, day] = date.split('-')
                if (this.successfullProcesses.includes(parseInt(day, 10))) return ['success']
                if (this.failedProcesses.includes(parseInt(day, 10))) return ['error']
                if (this.warnedProcesses.includes(parseInt(day, 10))) return ['warning']
                return false
            }
        },
        watch: {
            date: function (val) {
                window.console.log(val);
                this.getSelectedLogReports(val);
            }
        }
    }
</script>

<style scoped>

</style>
