<template>
    <v-layout>
        <v-flex>
            <v-container fluid grid-list-md>
                <v-layout row wrap>
                    <v-flex
                        xs12
                        md6
                        lg3
                        mx4
                        v-for="process in processes"
                        :key="process._id"
                    >
                        <process-card
                            v-bind:process="process"
                        >

                        </process-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
    import ProcessCard from "./ProcessCard";
    export default {
        name: "ProjectDetails",
        components: {ProcessCard},
        data(){
            return {
                processes: []
            }
        },
        mounted(){
            this.getAllProcesses();
        },
        methods: {
            getAllProcesses(){
                this.$store.dispatch('fetchProcesses', this.$route.params.projectId)
                    .then((resp) => {
                        this.processes = resp;
                        window.console.log(resp);
                    })
                    .catch((err) => {
                        if(err == "Not logged"){
                            this.$router.push('/login');
                        }else{
                            window.console.log(err.data);
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
