<template>
    <v-card class="mx-auto">
        <v-card-title primary-title>
            <v-icon large left>book</v-icon>
            <div class="headline">{{ name }}</div>
        </v-card-title>
        <v-card-text>{{ id }}</v-card-text>
        <v-card-actions>
            <v-btn flat @click="goTo">Details</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>error_outline</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "ProjectCard",
        props: ['name', 'id'],
        methods: {
            goTo: function(){
                this.$router.push('/'+this.$props.id);
            }
        }
    }
</script>

<style scoped>

</style>
