<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar color="primary">
                        <v-toolbar-title>Inscription</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field v-model="name" prepend-icon="face" name="name" label="Nom complet" type="text"></v-text-field>
                            <v-text-field v-model="email" prepend-icon="person" name="login" label="Adresse e-mail" type="text"></v-text-field>
                            <v-text-field v-model="password" prepend-icon="lock" name="password" label="Mot de passe" id="password" type="password"></v-text-field>
                            <v-text-field v-model="password_confirm" prepend-icon="lock" name="password_confirm" label="Confirmation du mot de passe" id="password_confirm" type="password"></v-text-field>
                        </v-form>
                        <v-alert
                                :value="error_show"
                                type="error"
                                dismissible=true
                                @click="error_show = !error_show"
                        >
                            {{error}}
                        </v-alert>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="register">S'inscrire</v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "RegisterForm",
        data() {
            return {
                name: "",
                email: "",
                password: "",
                password_confirm: "",
                error: "",
                error_show: false
            }
        },
        methods: {
            register: function(){
                let data = {
                    fullName: this.name,
                    email: this.email,
                    password: this.password
                }
                this.$store.dispatch('register', data)
                    .then(() => this.$router.push('/'))
                    .catch((err) => {
                        this.error_show = true;
                        this.error = err.response.data.message;
                    })
            }
        }
    }
</script>

<style scoped>

</style>
