<template>
    <v-app>
        <MenuHeader></MenuHeader>
        <v-content>
            <router-view pa-5></router-view>
        </v-content>
    </v-app>
</template>

<script>
    import MenuHeader from './components/Menu.vue';

    export default {
        name: 'App',
        components: {
            MenuHeader,
        },
        data () {
            return {
                public_items: [
                    { title: "Connexion", icon: "account_circle", path: "/login" },
                    { title: "Inscription", icon: "assignment", path: "/register" }
                ],
                private_items : [
                    { title: "Home", icon: "home", path: "/home" },
                    { title: "Logout", icon: "input", path: "/logout" }
                ]
            }
        },
        methods: {
            logout: function() {
                this.$store.dispatch('logout')
                this.$router.push('/login')
            }
        },
        created() {
            this.$http.interceptors.response.use(undefined, function(err) {
                return new Promise(function (resolve, reject) {
                    if(err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        this.$store.dispatch('logout')
                    }
                    throw err;
                });
            });
        }
    }
</script>
